
node_modules/

logs
*.log
npm-debug.log*
.env
package-lock.json

.vscode/


.DS_Store

# Windows
Thumbs.db


**/.profile
**/.vscode
**/.idea
.nodemon-debug.log

npm-debug.log
.npm
yarn-error.log
yarn.lock
